@import "../../../theme/mainStyle.scss";

.gridContainer {
    padding: 0;
}

//righe
.rowGrid {
    padding: 0;
}


//colonne
.colGrid {
    padding: 0;
    border: 1px solid brown;
    width: calc((100% / 8));
    font-size: 80px;
    line-height: 1;
    color: pink;

}

// .colGrid:after {
//     content: "";
//     display: block;
//     padding-bottom: 100%;
// }


.whitePiece {
    color: deepskyblue;
}

.pointer {
    cursor: pointer;
}