@import "../../../../theme/mainStyle.scss";

.chessboardContainer {
    margin: 20px;
    width: calc(100% - 40px);
    height: auto;
    border: 1px solid pink;
    background-image: url("../../../../assets/img/legnochiaro.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gridContainer {
    padding: 0;
}

//righe
.rowGrid {

    padding: 0;
}


.rowGrid:first-child .colGrid:after,
.rowGrid:last-child .colGrid:after {
    padding-bottom: 2px;


}

.headerChessboard {
    opacity: 0.5;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;

    @media screen and (max-width: $screen-smartphone) {
        padding: 0px;
        font-size: 12px;
    }
}

//colonne
.colGrid {
    padding: 0;

}

// .colGrid:after {
//     content: "";
//     display: block;
//     padding-bottom: 100%;
// }


.evenCol:nth-child(2n) {
    background-color: pink;
    opacity: 0.7;
}

.oddCol:nth-child(2n+1) {
    background-color: pink;
    opacity: 0.7;
}